<html>
<head>
    <title>Home | Grillode</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body id="index">
    <h1>Grillode</h1>
    <% Object.keys(rooms).forEach(function(room, i) { %>
    <ul>
        <li>
            <h2><a href="/room/<%= room %>/"><%= room %></a></h2> 
            (<%= rooms[room].length %>)
        </li>
        <% rooms[room].forEach(function(client) { %>
        <li><%= client.name %></li>
        <% }); %>
    </ul>
    <% if (i % 2 == 1) { %><br clear="all" /><% } %>
    <% }); %>
</body>
</html>
