<html>
<head>
    <title>Grillode</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <% Object.keys(rooms).forEach(function(room, i) { %>
    <ul>
        <li>
            <a href="/room/<%= room %>/"><%= room %></a> 
            (<%= rooms[room].length %>)
        </li>
        <% rooms[room].forEach(function(client) { %>
        <li><%= client.name %></li>
        <% }); %>
    </ul>
    <% if (i % 2 == 1) { %><br clear="all" /><% } %>
    <% }); %>
</body>
</html>



